main{
    width: 80%;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 5rem;
}
header{
    margin: 0 auto;
    width: 100%;
    border-bottom: solid 1px var(--gray900);
}
.header-itens{
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 3.75rem 1.125rem 3.75rem;
}

.title{
    font-size: var(--size-6);
    font-weight: var(--font-weight-0);
    color: var(--brand100);
}
.cards-pets{
    width: 12.5rem;
    max-width: 100%;
    height: 17rem;
    border-radius: var(--radius-4);
    box-shadow: rgba(60, 64, 67, 0.2) 0px 1px 2px 0px, rgba(60, 64, 67, 0.2) 0px 1px 3px 1px;
    margin-left: 2rem;
}
li > div > img{
    width: 100%;
    height: 9rem;
    object-fit: fill;
}
.name-pet{
    font-size: var(--size-7);
    font-weight: var(--font-weight-0);
    color: var(--brand100);
    padding-top: 1rem;
    padding-left: 0.5rem;
}
.type-pet{
    font-size: var(--size-13);
    font-weight: var(--font-weight-1);
    color: var(--color-mode);
    padding-left: 0.6rem;
    padding-top: 0.25rem;
    
}
.container-ul{
    height: 19rem;
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: auto;
    gap: 1.2rem;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}
::-webkit-scrollbar{
    display: none;
}
.container-list-pets{
    display: grid;
    place-items: center;
}

.hidden-vec{
    display: none;
}
.hidden-button{
    display: flex;
}

footer{
    width: 100%;
    height: 3rem;
    background-color: var(--footer-color) ;
    color: var(--brand100);
    position: absolute;
    bottom: 0;
}

@media(max-width: 700px){
    .hidden-vec{
        display: block;
    }
    .hidden-button{
        display: none;
        
    }

}

@media(min-width: 800px){
    .container-ul{
        width: 100%;
        height: 39rem;
        padding: 2rem 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap:2rem;
        background-color: var(--white-fixed);
        overflow-y: scroll;
    }

}

@media(min-width: 1279px){
    .container-ul{
        width: 80%;
        height: 39rem;
        padding: 2rem 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap:2rem;
        background-color: var(--white-fixed);
        overflow-y: scroll;
    }
}
@media(min-width: 1600px){
    .container-ul{
        width: 60%;
        height: 39rem;
        padding: 2rem 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap:2rem;
        background-color: var(--white-fixed);
        overflow-y: scroll;
    }
}
.absolut-buttons{
    display: flex;
    position: absolute;
    top: 5rem;
    left: 30%;
}
