@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;  
  box-sizing: border-box;
}

:root {
    --brand100: #4E2096;
    --brand200: #B48CF2;
    --footer-color: #F1EEF7;
    --green100: #33CC66;
    --alert100: #EA534A;
    --gray100: #1B1C1E;
    --gray900: #EEEEEE;
    --color-mode: #90A4AE;
    --white-fixed: #FFFFFF;
  --box-shadow-color: rgba(0, 0, 0, 0.25);

  --size-0: 4.375rem; /* 70px */
  --size-1: 3.5rem; /* 56px */
  --size-2: 3rem; /* 48px */
  --size-3: 2.75rem; /* 44px */
  --size-4: 2.375rem; /* 38px */
  --size-5: 2rem; /* 32px */
  --size-6: 1.75rem; /* 28px */
  --size-7: 1.5rem; /* 24px */
  --size-8: 1.375rem; /* 22px */
  --size-9: 1.25rem; /* 20px */
  --size-10: 1rem; /* 16px */
  --size-11: 0.875rem; /* 14px */
  --size-12: 0.75rem; /* 12px */
  --size-13: 0.5rem; /* 8px */
  --size-14: 0.25rem; /* 4px */

  --radius-1: var(--size-5); /* 32px */
  --radius-2: var(--size-10); /* 16px */
  --radius-3: var(--size-13); /* 8px */
  --radius-4: var(--size-14); /* 4px */  


  --font-weight-0: 700; /* bold */
  --font-weight-1: 600; /* bold */
  --font-weight-2: 500; /* medium */
  --font-weight-3: 400; /* regular */ 
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
}

ul {
  list-style: none;
}
button{
  cursor: pointer;
}

.container{ 
    display: flex; /* Pedido de Kethlen */
    max-width: 85rem;
    margin: 0 auto;
}

#imgSpinner {
  animation: spinner 1s infinite linear;
}

@keyframes spinner {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
